[user]
	# TODO: Replace with your actual name and email
	name  = TODO Your Name
	email = TODO your@email.com

[core]
	editor     = vim
	autocrlf   = input
	whitespace = trailing-space,space-before-tab

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true
	default         = current

[fetch]
	prune = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[rebase]
	autoStash = true

[alias]
	st  = status -sb
	co  = checkout
	br  = branch
	aa  = add --all
	ci  = commit
	ca  = commit --amend --no-edit
	unstage = reset HEAD --
	last    = log -1 HEAD
	# Pretty one-line log with graph
	lg  = log --oneline --decorate --graph --all
	# Detailed log with author and date
	ll  = log --pretty=format:'%C(yellow)%h%Creset %C(bold blue)%an%Creset %C(green)%ar%Creset %s' --graph

[color]
	ui = auto

[credential]
	helper = osxkeychain
